:root {

/* Font families. */
--ff-primary: 'Inter', sans-serif;

/* Font sizes. */
--fs-default: 22px;


/* Font weights */
--fw-s:  300;
--fw-m:  500;
--fw-l:  700;


/* Colour scheme */
--clr-primary-light: hsl(240, 18%, 77%);
--clr-primary-dark: hsl(240, 38%, 20%);
--clr-background: white;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body { 
    width: clamp(375px, 100%, 1440px);
    position: relative;                             /* fix footer in place */
    margin: auto;
    min-height: 100vh;
    color: var(--clr-primary-dark);
    font-family: var(--ff-primary);
    font-size: clamp(0.778rem, 3vw + 0.25rem, 1.222rem);
    font-weight: var(--fw-s);
    text-align: center;
    background: 
    url("../src/images/pattern-curve.svg") no-repeat 0 100%,
    var(--clr-background); 
}

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-bottom: 2rem;                        /* fix footer in place */
}

footer {
    position: absolute;                          /* fix footer in place */
    bottom: 0;
    width: 100%;
    height: 2rem;
}

 






  
